---
layout: base
---
<!-- tab标签 根据category的种类决定tab数量-->
<div class="container">
    {% include tab.html %}
    <!--每个tab标签显示的文章---begin -->
    <div class="tab-content">
        <div class="tab-pane active" id="all">
            <div class="list-group">
                <!-- 显示所有文章信息-begin -->
                {% for post in site.posts %}
                <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{post.title}}</h4>
                    <p class="list-group-item-text">{{ post.date | date:"%Y年%m月%d日" }}</p>
                </a>
                {% endfor %}
                <!-- 显示所有文章信息-end --> </div>
        </div>
        {% for category in site.categories %}
        <div class="tab-pane" id="{{ category[0]}}">
            <div class="list-group">
                {% for post in category[1] %}
                <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{post.title}}</h4>
                    <p class="list-group-item-text">{{ post.date | date:"%Y年%m月%d日" }}</p>
                </a>
                {% endfor %}
            </div>

        </div>
        {% endfor %}
    </div>
    <!--每个tab标签显示的文章 end -->

</div>
<!-- tab标签 根据category的种类决定tab数量-->
