<!-- 多说评论框 start -->
	<div class="ds-thread container" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}">
	 

<!--	 <button type="button" name="{{ site.duoshuo.shortname }}" class="btn btn-default show-commend">	
  	<i class="fa fa-comment-o fa-lg" style="color: #16a095;"></i>      
  </button>
  看了一下原模板写的异步加载评论的方式 貌似处理在base.js里 尝试改过 但运行不成功 先这样吧 有时间再研究研究
  -->

	</div>
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->

<!-- 多说公共JS代码 end -->
  <script type="text/javascript">
var duoshuoQuery = {short_name:"champy"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>