<!--
<div id="disqus_thread">
  <button type="button" name="{{ site.duoshuo.shortname }}" class="btn btn-default show-commend">	
  	<i class="fa fa-comment-o fa-lg" style="color: #16a095;"></i>      修改显示评论按钮图标
  </button>
</div>
-->
<!--百度分享 -->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"0","bdPos":"right","bdTop":"72.5"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<!--百度统计-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe1b1ad6b79548b2f389fe1e63265f1fe' type='text/javascript'%3E%3C/script%3E"));
</script>


<!--RevolverMaps Plain  -->
<hr>
<div style="text-align:center; margin:0; padding:0; width:176px;"><embed src="//ra.revolvermaps.com/f/f.swf" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent" allowScriptAccess="always" allowNetworking="all" width="176" height="88" flashvars="m=0&amp;i=0tmtwz9dam4&amp;r=10&amp;c=ff0000"></embed><br /><img src="//ra.revolvermaps.com/js/c/0tmtwz9dam4.gif" width="1" height="1" alt="" /><a href="http://www.revolvermaps.com/?target=enlarge&amp;i=0tmtwz9dam4&amp;color=ff0000&amp;m=0">Large Visitor Map</a></div>
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}">
	 

<!--	 <button type="button" name="{{ site.duoshuo.shortname }}" class="btn btn-default show-commend">	
  	<i class="fa fa-comment-o fa-lg" style="color: #16a095;"></i>      
  </button>
  看了一下原模板写的异步加载评论的方式 貌似处理在base.js里 尝试改过 但运行不成功 先这样吧 有时间再研究研究
  -->

	</div>
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->

<!-- 多说公共JS代码 end -->
  <script type="text/javascript">
var duoshuoQuery = {short_name:"champy"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
	<!--站长统计-->
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253355175'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D1253355175%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
