<!--百度统计-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe1b1ad6b79548b2f389fe1e63265f1fe' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--站长统计-->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253355175'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D1253355175%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

<!-- GoStats JavaScript Based Code -->
<script type="text/javascript" src="http://gostats.cn/js/counter.js"></script>
<script type="text/javascript">_gos='c4.gostats.cn';_goa=391036;
_got=5;_goi=1;_gol='流量统计 图片';_GoStatsRun();</script>
<noscript><a target="_blank" title="流量统计 图片" 
href="http://gostats.cn"><img alt="流量统计 图片" 
src="http://c4.gostats.cn/bin/count/a_391036/t_5/i_1/counter.png" 
style="border-width:0" /></a></noscript>
<!-- End GoStats JavaScript Based Code -->
